
body {
    font-family: Roboto, sans-serif;

    /*sticky footer*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    /* min width */
    min-width:360px;
    width: auto !important;
    width:360px;
}

main {
    flex: 1 0 auto;
}

nav {
    position:fixed;
    z-index: 10;
}

main {
    padding-top: 65px;
}

@media only screen and (max-width:600px) {
    main {
        padding-top: 56px;
    }
}


/* header, footer positioning (responsive) */

main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    input {
        height: 2rem !important;
    }
}

/* Adjust container width */
@media only screen and (min-width:993px) {
    .container {
        width: 80%;
    }
}
@media only screen and (min-width:601px) {
    .container {
        width: 95%;
    }
}


/* Helpers */
.no-margin {
    margin: 0;
}

.h1-label {
    margin-bottom: -35px;
}

a.pad.btn {
    margin-left: 5px;
}

.label {
    font-size: 0.8rem;
    color: #9e9e9e;
}


/* Element tweaks */

@media only screen and (max-width:992px) {
    #area-header {
        font-size: 2.4rem;
        margin: 3.2rem 0 2rem 0;
    }
}

@media only screen and (max-width:600px) {
    #area-header {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 1.5rem 0 1rem 0;
    }
}

@media only screen and (max-width:600px) {
    .card span.card-title {
        font-size:16px;
    }
}

.card span.card-title {
    font-weight: 400;
}

/* Transitions */

/* Collapse and fade an element */
/* https://css-tricks.com/using-css-transitions-auto-dimensions/ */
.fade-enter-active, .fade-leave-active {
     transition: all .5s ease;
     max-height:1000px;
 }
.fade-move {
    transition: transform .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    max-height:0;
    overflow-y:hidden;
}
.fade-enter-to {
    overflow-y:hidden;
}

/* Collapse (without fading) an element */
.collapse-enter-active, .collapse-leave-active {
    transition: all .5s ease;
    max-height: 1000px;
}
.collapse-move{
    transition: transform 1s;
}
.collapse-enter, .collapse-leave-to {
    max-height:0;
    overflow-y:hidden;
}
.collapse-enter-to {
    overflow-y:hidden;
}

i.material-icons {
    vertical-align: middle;
}